.accordion-body li 
{
    margin-top: 5vh;
}

.accordion-body table content
{
    color: rgb(238, 104, 104);
}

.accordion-body table td
{
    color: black;
}


.accordion-item button:hover
{
    color: black;
    background-color: #d1e7dd;
}


.accordion-item button:focus
{
    color: black;
    background-color: #d1e7dd;
border-style: none;
}

.accordion-item
{

}